.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.presentation p{
    text-align: center;
}

/** picture **/
.Portefolio_picture{
    border-radius: 30% / 50%;
    width: 200px;
}
.Portefolio_picture:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.img_container{
    display: flex;
    justify-content: center;
}

/** text menu **/

.actif + p{
    display: block;
}

.inactif + p{
    display: none;
}

.menu{
    text-decoration: underline;
    font-size: 2.5em;
}